{% extends 'base.html' %}
{% block title %}Премиальный Бонус{% endblock %}
{% block content %}
<p style="white-space: pre-line; font-size: 17px; margin-left: 5px;">«Не имеет смысла нанимать толковых людей, а затем говорить им, что делать; мы нанимаем умных людей, чтобы они могли рассказать нам, что делать» - Стив Джобс

Мы знаем, что в нашей команде есть партнёры с хорошими идеями и предложениями, направленными на развитие Stakelex.

Теперь у вас есть возможность, отправлять свои идеи и предложения по улучшению работы платформы и получить щедрое вознаграждение за вклад в развитие Stakelex - Премиальный Бонус.

Таким образом, вы можете дать старт для реализации новых, интересных, технических решений, которые могут стать частью нашей жизни!

Stakelex рассматривает все ваши предложения и идеи, направленные на улучшения качества предоставляемого сервиса: новые способы продвижения бренда, рекламные кампании и промо, эффективное обучение партнеров и презентации, вебинары и тренинги, любые технические решения.

Четыре upline партнера, получат процент от вознаграждения партнера, который внёс свой вклад в развитие Stakelex, предложив наилучшие идеи и решения по улучшению работы платформы.</p>
{% endblock %}