{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
        <div class="card card-primary card-outline">
          <div class="card-body">
            <ul class="nav nav-tabs" id="custom-content-above-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="custom-content-above-home-tab" data-toggle="pill" href="#custom-content-above-home" role="tab" aria-controls="custom-content-above-home" aria-selected="true">О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-content-above-profile-tab" data-toggle="pill" href="#custom-content-above-profile" role="tab" aria-controls="custom-content-above-profile" aria-selected="false">Наша история</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-content-above-messages-tab" data-toggle="pill" href="#custom-content-above-messages" role="tab" aria-controls="custom-content-above-messages" aria-selected="false">Перспектива</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="custom-content-above-settings-tab" data-toggle="pill" href="#custom-content-above-settings" role="tab" aria-controls="custom-content-above-settings" aria-selected="false">Почему именно мы?</a>
              </li>
            </ul>
            <br>
            <div class="tab-content" id="custom-content-above-tabContent">
              <div class="tab-pane fade show active" id="custom-content-above-home" role="tabpanel" aria-labelledby="custom-content-above-home-tab">
                 Stakelex - команда, одержимая страстью к работе с клиентами и партнерами, используя новейшие передовые технологии, предоставляя услуги мирового уровня и полезную информацию, касательно финансовых вопросов.
                 <br>
                 В независимости, ищете ли вы личный кредит или деловое партнерство, желаете интегрироваться с нашей платформой и получать максимальную отдачу - мы хотим, чтобы ваш опыт был исключительный.
              </div>
              <div class="tab-pane fade" id="custom-content-above-profile" role="tabpanel" aria-labelledby="custom-content-above-profile-tab">
                 Наблюдая за тем, как взаимодействие людей, напрямую использующих передовые технологии, изменило многие отрасли, мы решили внести изменение в финансовые услуги, понимая, чего не хватает большинству существующих финансовых продуктов - справедливая сделка для обеих сторон, как для клиентов, так и для партнеров, продвигающих финансовые услуги. Так родилась идея Stakelex.
                 <br>
                 После многих месяцев напряженной работы, идея Stakelex выросла из базовой концепции на бумаге в динамичный бизнес, который был запущен в мае 2020 года из небольшого офиса в Цюрихе, Швейцария. С тех пор мы расширили нашу талантливую команду и достигли результатов. По мере роста команды Stakelex, наше внимание не менялось, и наши клиенты и партнёры находятся всегда в центре всего, что мы делаем.
              </div>
              <div class="tab-pane fade" id="custom-content-above-messages" role="tabpanel" aria-labelledby="custom-content-above-messages-tab">
                 Мы постоянно внедряем инновации, чтобы наши клиенты и деловые партнеры с удовольствием использовали Stakelex. Разработка платформы формируется нашими клиентами и для наших клиентов.
                 <br>
                 Мы не совершенны, но мы неустанно работаем над этим, шаг за шагом. Наш опыт является отличным примером для нашей команды, которая привносит массу идей, как мы можем улучшить платформу, поэтому Stakelex - лучшее место для всех нас. 
              </div>
              <div class="tab-pane fade" id="custom-content-above-settings" role="tabpanel" aria-labelledby="custom-content-above-settings-tab">
                 Stakelex - чемпионы личностного развития. Наша интернациональная команда берет на себя ответственность за личностный рост, и поддерживает вас на каждом этапе, ежедневно проявляя свою индивидуальность и уникальност
                 <br>
                 Мы любим делиться знаниями и поощряем обмен информацией, как внутри компании, так и за ее пределами, будь то обучения или выступления на конференциях и вебинарах.
                 <br>
                 Мы постоянно ищем инновации. Каждый день - это новая возможность совершенствоваться.
              </div>
            </div>
          </div>
            </div>
		</div>
	</div>
</div>
{% endblock %}